
/* regras */
.row{
background-color: rgb(45, 255, 255);
margin: .2rem;
padding: 2.rem;
}
.container{
background-color: rgba(87, 84, 84, 0);
padding: .5rem;
}
 .coluna{
border: 5px solid #0c0c0c;
background:#10110fa1;
}
